html {
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(97, 111, 36);
   scroll-behavior: smooth;
}

body {
   margin:0;
   padding:0;
}

 
 .flip-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.6s;
   transform-style: preserve-3d;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 }
 
 .flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
 }
 
 .flip-card-front, .flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   font-size: 30px;
 }
 
 .flip-card-front {
   background-color: rgb(255,246,163);
   color: black;
 }
 
 .flip-card-back {
   background-color: rgb(97, 111, 36);
   color: white;
   transform: rotateY(180deg);
 }

.link {
   color:  #f0f275;
} 

@media only screen and (min-width: 600px) {
   body {
      zoom: 50%;
   }
   #big_div {
      font-size: 50px;
   }
   #logo_welcome h1 {
      font-size: 50px;
   }
   #textvids {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   #video {
      width: 1600px;
      height: 1000px;
   }
   #introduction {
      font-size: 150px;
   }
   #learnbody {
      font-size: 100px;
   }
   #websites {
      display: flex;
      justify-content: space-around;
   }
   #first_page_text {
      font-size: 50px;
      padding: 80px;
   }
   #title2 {
      font-size: 60px;
   }
   .websiteimages {
      height: 500px;
      width: 500px;
   }
   .flip-card {
      background-color: transparent;
      width: 550px;
      height: 550px;
      perspective: 1000px;
    }
   #bootcamptext {
      font-size: 40px;
   }
   #images1 {
      height: 170px;
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
      margin-bottom: 6%;
   }
   .collegeimg {
      width: 300px;
      height: auto;
   }
   #sub1 {
      display: flex;
      justify-content: center;
      margin-bottom: 2%;
      font-size: 25px;
   }
   #main {
      margin-top: 200px;
   }
   #big_div {
      position: fixed;
      top: 0;
      width: 100%;
   }
   #bootcampimages {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
   }
   #price_div {
      font-size: 20px;
   }
   #flatitron {
      height: 240px;
   }
   
   #hack {
      height: 240px;
   }
   
   #fullstack {
      height: 240px;
   }   
   #career.text {
      font-size: 30px;
   }
   #careerbio {
      text-align: center;
      font-size: 40px;
      margin-top: 2%;
      margin-bottom: -3%;
   }
   #careerOptions {
      display: flex;
      text-align: left;
      justify-content: space-between;
      font-size: 35px;
      margin-top: 5%;
      margin-left: .5%;
      background-color: #e6e6e0;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      padding: 2%;
   }
   .button {
      font-size: 35px;
   }
}

@media only screen and (max-width: 600px) {
   #big_div {
      font-size: 10px
   }
   #logo_welcome h1 {
      font-size: 6px;
   }
   #video {
      width: 400px;
      height: 250px;
   }
   #introduction {
      font-size: 20px;
   }
   #learnbody {
      font-size: 50px;
   }
   #first_page_text {
      font-size: 15px;
      text-align: center;
      padding: 30px;
   }
   .websiteimages {
      height: 300px;
      width: 300px;
   }
   .flip-card {
      background-color: transparent;
      width: 350px;
      height: 350px;
      perspective: 1000px;
    }
    #websites {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
   #title2 {
      text-align: center;
   }
   #bootcamptext {
      font-size: 20px;
      text-align: center;
   }
   #sub1 {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 2%;
      font-size: 20px;
   }
   .collegeimg {
      width: 200px;
      height: auto;
   }
   #images1 {
      display: flex;
      flex-direction: column;
      margin-left: 24%;
   }
   #big_div {
      position: fixed;
      top: 0;
      width: 100%;
   }
   #flatitron {
      height: 150px;
   }
   
   #hack {
      height: 100px;
   }
   
   #fullstack {
      height: 100px;
   }   
   #bootcampimages {
      display: flex;
      flex-direction: column;
      margin-left: 10%;
   }
   #price_div {
      font-size: 15px;
   }
   #careerbio {
      margin-left: 2%;
      margin-top: 7%;
      margin-bottom: 2%;
   }
   #careerOptions {
      text-align: center;
      font-size: 15px;
      margin-top: 5%;
      margin-left: .5%;
      background-color: #e6e6e0;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      padding: 2%;
   }
}

#big_div {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #f0f275;
   color: rgb(255, 255, 255);
   padding-top: 1%;
   padding-bottom: 0%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   z-index: 10;
}


#logo_welcome h1 {
   overflow: hidden;
   border-right: .15em solid orange;
   white-space: nowrap;
   margin: 0 auto;
   letter-spacing: .15em;
   animation:
      typing 5.5s steps(50, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
   from {
      width: 0
   }

   to {
      width: 100%
   }
}

@keyframes blink-caret {

   from,
   to {
      border-color: transparent
   }

   50% {
      border-color: orange;
   }
}

#logo {
   width: 50%;
}

.items:hover {

   opacity: 0.8;
   cursor: pointer;
}

a {
   width: 20%;
   text-align: center;
   text-decoration: none;
   color: black;
}


#logo_welcome {
   background-color: #FEFFDA;
   display: flex;

}

#large_logo {
   width: 20%;
   height: 30%;
}

#video {
   border-top-left-radius: 40px;
   border-bottom-left-radius: 40px;
   border-top-right-radius: 40px;
   border-bottom-right-radius: 40px;
}

#welcome {
   padding: 10%;
}


#bottom_first {
   margin-top: -1%;
   background-color: #fcfcf1;

}

#introduction {
   display: flex;
   justify-content: center;
   padding: 50px;
}



#first_page_text {
   display: block;
   justify-content: center;
   background-color: #e6e6e0;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px
}

#title2 {
   background-color: #FEFFDA;
   padding: 1%;
   margin-top: -1%;
   display: flex;
   justify-content: center;
}

#sub2 {
   display: flex;
   justify-content: center;
   margin-top: 6%;
   margin-bottom: 1%;

}

#images2 {
   height: 160px;
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
}

#learnmore {
   margin-top: 1%;
}

#collegetext {
   background-color: #FEFFDA;
   font-size: larger;
   padding: 1.5%;
   align-content: center;
}

#title3 {
   display: flex;
   justify-content: center;
   background-color: #FEFFDA;
   font-size: 30px;
}

#title5 {
   display: flex;
   justify-content: center;
   background-color: #FEFFDA;
}

#learnmore {
   display: flex;
   justify-content: center;
}

#bootcamptext {
   margin-top: 5%;
   margin-left: 5%;
   margin-right: 5%;
}



#creators {
   display: flex;
   justify-content: space-evenly;
}

#collegebody {
   background-color: #ffffff;
}

#bootcampbody {
   background-color: #ffffff;
}

#citation,
#video {
   display: block;
   justify-content: column;
}

#learnbody {
   background-color: #ffffff;
}

#bottomhalffirst {
   background-color: black;
}

#intro {
   background-color: rgb(24, 23, 23);
   color: white;
}

#creators {
   display: flex;
   justify-content: space-around;
}

#photo {
   width: 50%;
}

#about {
   display: flex;
   justify-content: center;
}

#dtext,
#atext,
#itext {
   display: flex;
   justify-content: center;
}

#about2 {
   background-color: white;
}

#about {
   background-color: white;
}

body {
   background-color: white;
}

#levels {
   width: 200px;
   display: flex;
   justify-content: center;
   margin-top: 15%;
}

#levelsalaries {
   display: flex;
   justify-content: center;
   margin-bottom: 2%;
   padding: 2%;
   background-color: rgb(215, 215, 215);
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
   font-size: 25px;
   color: white;
}

#learnmore {
   display: flex;
   justify-content: center;
   margin-bottom: 2%;
   margin-top: 12;
   padding: 2%;
   background-color: rgb(215, 215, 215);
   border-top-left-radius: 100px;
   border-bottom-left-radius: 100px;
   border-top-right-radius: 100px;
   border-bottom-right-radius: 100px;
   font-size: 25px;
   color: white;
}

#collegetext {
   padding: 2%;
   border-top-left-radius: 100px;
   border-bottom-left-radius: 100px;
   border-top-right-radius: 100px;
   border-bottom-right-radius: 100px;
}

#learnbody{
   padding: 1%;
   font-size: 20px;
}